#admmap{
  width: 800px;
  height: 500px;
  border: 1px solid #999999;
}

.admbtn{
  width: 800px;
  padding: 8px;
  background-color: #eeeeee;
  border: 2px solid #999999;
  cursor: pointer;
}
a:link { color: black; }
a:visited { color: black; }

body, div, table, tr, td, h1, h2, h3{
  font-family: Arial;
  font-size: 11pt;
}
.tr1{
  background-color: #60A040;
}

.tr2{
  background-color: #F5EDCC;
}

h2{
  color: #A04040;
  font-size: 16pt;
}

.astrelka{
  text-decoration: none;
}

.amenu{
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-top: 2px solid red;
}

.nmenu{
  border-bottom: 1px solid #888888;
  background-color: #eeeeee;
  
}
.noedit{
  background-color: #dddddd;
  color: #000000;
  border: none;
}

.tableadmin{
  background-color: white;
  border: 2px solid #bbbbbb;
}
.tableadmin th{
  background-color: #F5EDCC;
  font-size: 11pt;
  font-family: Arial;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;  
}
.tableadmin td{
  background-color: white;
  font-size: 11pt;
  font-family: Arial;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}